h1 {
  color: #000000;
  font-size:400%;

}

p {
  font-family:;
  text-indent:;
  margin-left:;
  color: #000000;
  font-weight: 900;

}
 #content {
   background-color: #8c0a0a;
   width: 50;
   border: dotted 5px;

 }
